body{
    display: flex;
    background-color: lightsteelblue;
    flex-direction:column;
    flex-wrap: wrap;
}

.container{
    background-color: mintcream;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 400px;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
}

.container h1 {
    text-align: center;
    background-color:lightsteelblue;
    padding: 8px;
    border-radius: 8px;
    text-shadow: 2px 2px 2px white;
}


.container p{
    text-indent: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    background-color: mintcream;
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    padding: 30px;
    margin-top: 15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section h2 {
    text-align:center;
}

input{
    width: 70px;
    margin-top: 35px;
}

.botvolt{
    margin: auto;
    background-color: white;
    width: 50px;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    border-radius: 6px;
}

.botvolt:hover{
    background-color:lightseagreen;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.botvolt a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

footer{
    font-weight: bolder;
    margin: 300px 0px 0px 0px;
    text-align:center;
    background-color: lightseagreen;
    padding: 50px;
}